<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Cakes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    
</head>
    
<body>
    <div>
        <a href = "{{ url_for('home') }}">
            <img class="logo" src="{{ url_for('static', filename='goodlogo.png') }}" alt="logo">
        </a>
    </div>

    <div class="navBar">
        <ul>
            <li><a href="{{ url_for('form') }}">Order</a></li>
            <li><a href="{{ url_for('desserts') }}">Desserts</a></li>
        </ul>
    </div>

    <div class = "dessert">
        <div class = "card">
            <img class = "cakeimg" src="{{ url_for('static', filename='blueberry.png') }}" alt="blueberry">
            <h3>Blueberry Slice</h3>
            <p>It is a blueberry slice</p>
            <h4>Ingredients:</h4>
            <ul>
                <li>Blueberries</li>
                <li>Flour</li>
                <li>Butter</li>
            </ul>
        </div>
        <div class = "card">
            <img class = "cakeimg" src="{{ url_for('static', filename='choc.png') }}" alt="chocolate">
            <h3>Chocolate Slice</h3>
            <p>It is a chocolate cake</p>
            <h4>Ingredients:</h4>
            <ul>
                <li>Chocolate</li>
                <li>Flour</li>
                <li>Butter</li>
            </ul>
        </div>
        <div class = "card">
            <img class = "cakeimg" src="{{ url_for('static', filename='strawberry.png') }}" alt="strawberry">
            <h3>Strawberry Slice</h3>
            <p>It is a strawberry cake</p>
            <h4>Ingredients:</h4>
            <ul> 
                <li>Strawberries</li>
                <li>Flour</li>
                <li>Butter</li>
            </ul>
        </div>
    </div>
</body>
</html>
