<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Cakes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    
</head>
    
<body>
    <div>
        <img class="logo" src="{{ url_for('static', filename='goodlogo.png') }}" alt="logo">
    </div>

    <div class="navBar">
        <ul>
            <li><a href="{{ url_for('form') }}">Form</a></li>
            <li><a href="{{ url_for('desserts') }}">Desserts</a></li>
        </ul>
    </div>

    <div class = "row">
        <div class = "column">
            <img class = "cakeimg" src="{{ url_for('static', filename='blueberry.png') }}" alt="blueberry">
            <img class = "cakeimg" src="{{ url_for('static', filename='choc.png') }}" alt="chocolate">
            <img class = "cakeimg" src="{{ url_for('static', filename='strawberry.png') }}" alt="strawberry">
        </div>
    </div>
</body>
</html>
