<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Tarts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    
</head>
    
<body>
    <div>
        <a href = "{{ url_for('home') }}">
            <img class="logo" src="{{ url_for('static', filename='goodlogo.png') }}" alt="logo">
        </a>
    </div>

    <div class="navBar">
        <ul>
            <li><a href="{{ url_for('form') }}">Order</a></li>
            <li><a href="{{ url_for('desserts') }}">Desserts</a></li>
        </ul>
    </div>

    <div class = "dessert">
        <div class = "card">
            
            <img class = "tartimg" src="{{ url_for('static', filename='mangotart.png') }}" alt="mango">
            <h3>Mango Tart</h3>
            <p>It is a mango tart</p>
            <h4>Ingredients:</h4>
            <ul>
                <li>Mango</li>
                <li>Flour</li>
                <li>Butter</li>
            </ul>
        </div>
        <div class = "card">
            <img class = "tartimg" src="{{ url_for('static', filename='peachtart.png') }}" alt="peach">
            <h3>Peach Tart</h3>
            <p>It is a peach tart</p>
            <h4>Ingredients:</h4>
            <ul>
                <li>Peach</li>
                <li>Flour</li>
                <li>Butter</li>
                </ul>
        </div>
        <div class = "card">
            <img class = "tartimg" src="{{ url_for('static', filename='raspberrytart.png') }}" alt="raspberry">
            <h3>Raspberry Tart</h3>
            <p>It is a raspberry tart</p>
            <h4>Ingredients:</h4>
            <ul>
                <li>Raspberry</li>
                <li>Flour</li>
                <li>Butter</li>
            </ul>
        </div>
        <div class = "card">
            <img class = "tartimg" src="{{ url_for('static', filename='strawberrytart.png') }}" alt="strawberry">
            <h3>Strawberry Tart</h3>
            <p>It is a strawberry tart</p>
            <h4>Ingredients:</h4>
            <ul>
                <li>Strawberry</li>
                <li>Flour</li>
                <li>Butter</li>
            </ul>
        </div>
    </div>
    </div>
</body>
</html>
