<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>BigCakes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <h1 style="font-family: 'Cormorant Garamond', serif; font-weight: 300; color: #f2d6d0; letter-spacing: 2px; font-size: 80px;">Blush Delights</h1>
    
</head>
    
<body class ="bigcakes-page">
    
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/products">Menu</a>
        <a href="/contact">Contact</a>
        <a href="/order#">Order</a>
        <a href="/#about-us">About Us</a>

    </nav>
   
    <div class = "page-header">
        <h1>Whole Cakes Collection</h1>
        <h2>Handcrafted with love. Every bite, a little occasion.</h2>
        <h3>A little indulgence, beautifully wrapped and ready to go.</h3>
    </div>
    

    

    <div class = "dessert">
        <div class="dessert-container">
            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/blueberry.png') }}" alt="blueberry">
                <h2>Blueberry Cake</h2>
                <p>A cloud-like layer of velvety cream cheese set atop a buttery biscuit base, crowned with a jewelled cascade of ripe blueberries. Lush, tangy, and deeply satisfying.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/choc.png') }}" alt="chocolate">
                <h2>Chocolate Cake</h2>
                <p>A cloud-like layer of velvety cream cheese set atop a buttery biscuit base, crowned with a jewelled cascade of ripe blueberries. Lush, tangy, and deeply satisfying.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/strawberry.png') }}" alt="strawberry">
                <h2>Strawberry Cake</h2>
                <p>Pillowy vanilla sponge crowned with luscious whipped cream and plump, sun-kissed strawberries. Light, fresh, and effortlessly elegant.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/blackforrest.png') }}" alt="blackforrest">
                <h2>Blackforrest Cake</h2>
                <p>This is a blackforrest cake.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/caramel.png') }}" alt="caramel">
                <h2>Caramel Cake</h2>
                <p>This is a caramel cake.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/mango.png') }}" alt="mango">
                <h2>Mango Cake</h2>
                <p>This is a mango cake.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/peach.png') }}" alt="peach">
                <h2>Peach Cake</h2>
                <p>This is a cake full of peaches.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/raspberry.png') }}" alt="raspberry">
                <h2>Raspberry Cake</h2>
                <p>This is a Raspberry cake.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/BigCakes/redvelvet.png') }}" alt="red-velvet">
                <h2>Red-Velvet Cake</h2>
                <p>This is a velvety red-velvet cake.</p>
                <a href="/product">Shop Now</a>
            </div>
        </div>
    </div>
    <p>Terms and conditions apply.</p>
</body>
</html>
