<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Macarons</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <h1 style="font-family: 'Cormorant Garamond', serif; font-weight: 300; color: #f2d6d0; letter-spacing: 2px; font-size: 80px;">Blush Delights</h1>
    
</head>
    
<body class ="macarons-page">
    
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/products">Menu</a>
        <a href="/contact">Contact</a>
        <a href="/order#">Order</a>
        <a href="/#about-us">About Us</a>

    </nav>
   
    <div class = "page-header">
        <h1>Macarons Collection</h1>
        <h2>Handcrafted with love. Every bite, a little occasion.</h2>
        <h3>A little indulgence, beautifully wrapped and ready to go.</h3>
    </div>
    

    

    <div class = "dessert">
        <div class="dessert-container">
            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/blueberry.png') }}" alt="blueberry">
                <h2>Blueberry Macaron</h2>
                <p>This is a Blueberry Macaron.</p>
                <a href="/product">Shop Now</a>
            </div>
            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/choc.png') }}" alt="chocolate">
                <h2>Chocolate Macaron</h2>
                <p>This is a chocolate Macaron.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/caramel.png') }}" alt="caramel">
                <h2>Caramel Macaron</h2>
                <p>This is a Caramel Macaron.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/mandarin.png') }}" alt="mandarin">
                <h2>Mandarin Macaron</h2>
                <p>This is a mandarin macaron.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/pistachio.png') }}" alt="pistachio">
                <h2>Pistachio Macaron</h2>
                <p>This is a pistachio Macaron.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/passion.png') }}" alt="passionfruit">
                <h2>Passionfruit Macaron</h2>
                <p>This is a passionfruit Macaron.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/Taro.png') }}" alt="taro">
                <h2>Taro Macaron</h2>
                <p>This is a Taro Macaron.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/raspberry.png') }}" alt="raspberry">
                <h2>Raspberry Macaron</h2>
                <p>This is a Raspberry Macaron.</p>
                <a href="/product">Shop Now</a>
            </div>

            <div class = "dessert-card">
                <img src="{{ url_for('static', filename='images/Macarons/strawberry.png') }}" alt="strawberry">
                <h2>Strawberry Macaron</h2>
                <p>This is a strawberry Macaron.</p>
                <a href="/product">Shop Now</a>
            </div>

        </div>
    </div>
    <p>Terms and conditions apply.</p>
</body>
</html>
